@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgba(75, 85, 99);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wave {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 164px;
}

.wave .shape-fill {
  fill: #1B5938;  
}

.waveB {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.waveB svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 164px;
}

.waveB .shape-fill {
  fill: #fffbf5;  
}